.GameScreen{
  display: grid;
  grid-template-areas: '. Side1 Container Side2 .';
  grid-template-columns:  auto min-content max-content min-content auto;
  grid-gap: 10px;
  background-image: url('../../Images/bg2.jpg');
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: var(--dark-main);
  height: 100vh;
 
  .Side1{
    grid-area: Side1;
  }
  .Side2{
    grid-area: Side2;
  }
  .Container{
    display: grid;
    // grid-template-rows: min-content min-content auto;
    grid-template-rows: 80px max-content auto;
    grid-gap: 20px;
    grid-area: Container;

    justify-self: center;
    height: 100%;  

    .Title{
      display: grid;
      align-self: center;
      grid-template-columns: max-content auto;
      h1{
        margin: auto;
        font-size:3.5em ;
        font-family: myFirstFont;
      }
      img{
        padding: 5px;
        margin: 5px;
        background-color:var(--medium-main);
        border-radius: 50%;
        width: 60px;
        height:60px;  /* 1:1 Aspect Ratio */
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
      }
    }
    .Main{
      
    }
  
    .Buttons{
        .group{
            display: grid;
            grid-template-rows:  50px 50px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 5px;
            *{
            display: grid;

                justify-items: center;
                align-items: center;

            }
        }
    }
  }
}
@font-face {
  font-family: myFirstFont;
  src: url(../../fonts/Fujimaru-Regular.ttf);
}


