
.Empty_main{
    display: inline;
    background-color: var(--light-main); 
    
    &:hover{
        filter: brightness(60%);
    }
}

.Occupied_main{
    display: inline; 
    background-color: var(--dark-main); 
    
    &:hover{
        filter: brightness(60%);
    }
}

.Empty{
    display: inline;
    background-color: var(--light-main); 
}

.Occupied{
    display: inline;
    background-color: var(--dark-main); 
}