:root{
  --darkest-main:#491207;
  --dark-main:#621708;
  --medium-main:#fcbf4e;
  // --medium-main:#F7CD7E;
  --light-main:#fcbf4e;
  // --light-main:#F6AA1C;
  --p-font-main:#c8bcb1;
  --title-font-main:#241511;
}
